[submodule "backend_api"]
	path = backend_api
	url = git@github.com:stally-ortega/backend_api.git
[submodule "angular_client"]
	path = angular_client
	url = git@github.com:stally-ortega/angular-IAC-monitoring.git
